*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --min_width: 350px
}

.box{
    display: grid;
    grid-template-columns: 45px auto;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.box0{
    background-color: rgb(0, 0, 0);
}

.box1{
    display: grid;
    height: 100vh;
    grid-template-rows: 8px auto;
    background-color: rgb(0, 0, 0);
}

.p2{
    min-width: var(--min_width);
}
.p21{
    background-color: black;
}

.p22{
    display: grid;
    grid-template-rows: auto 100vh 60vh 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #000000;
    border-radius: 15px 15px 0px 0px;
    /* box-shadow: 1px 5px #525252 inset; */

}

.p221{
    background-color: #000000;
}

.p222{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box4{
    background-color: #16161657;
    /* border: 1px solid white; */
    border-radius: 5px 5px;
    margin: 5px;
}

.box4 img{
    max-width: 100%;
    min-height: 100px;
    height: auto;
    border-radius: 5px 5px 5px 5px;

}

.p223{
    background-color: rgb(59, 59, 59);
}

.p224{
    background-color: #000000;
}

.responsive{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.box4:hover{
    transform: scale(1.06, 1.02);
    transition: 0.15s ease-in;
}

.p223{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    min-height: 30vh
}

.p2232 img{
    width: 100%;
    height: 100%;
}

.box5{
    border: 1px solid white;
}

@media only screen and (max-width: 1200px) {
    .p222{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: none;
    }

    .p22{
        grid-template-rows: auto auto auto 30vh;
    }

    .box4 img{
        max-width: 25vw;
        min-height: 80px;
    }

    .box4:hover{
        transform: scale(1.01, 1.02);
        transition: 0.15s ease-in;
    }

    .box4{
        display: flex;
        color: white;
    }

    .box4 p{
        padding: 5px 5px 5px 15px;
    }

    .p2232 img{
        width: 100%;
        height: 100%;
    }
    
    
}